<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GIPHY!</title>
    <link rel="stylesheet" href="/style/styles.css">
</head>
<header>
    <a href="http://localhost:8887/"><h1>Giphy App</h1></a>
</header>
<body>
<div class="gifs">
    <form class="form" action="/" method="GET">
        <br>
        <label for="search"></label>
        <input type="text" name="search" id="search" placeholder="Search" required>
        <input class='button' type="submit" value="Search"><br>
        <br>
    </form>
    <br>
    <form class="form" action="/trending" method="GET">
        <input class='button' type="submit" value="Trending GIFs"><br>
        <br>
    </form>
</div>
<br>
{% if gifs == null %}
    <h3>No gifs found!</h3>
{% else %}
    {% for gif in gifs %}
            <img class="gif" src="{{ gif.url }}">
    {% endfor %}
{% endif %}
</body>
</html>